@import url('https://fonts.googleapis.com/css?family=Open+Sans|Quicksand');

* {
    margin: 0;
    padding: 0;
}
.main-page {
    display: flex;
}

.menu-page {
    position: fixed;

    padding-top: 9.5em;
    padding-bottom: 7.5em;
    
    width: 20%;
    height: 100vh;
    min-width: 15.625em;
    display: flex;
    flex-direction: column;

    background-color: #222629;

    font-family: 'Quicksand', sans-serif;
}

.user-section {
    margin-left:7%;
    margin-right: 7%;
    display: flex;
    justify-content: space-between;
   
}
.user-info {
    text-align: right;
    overflow: hidden;
}
.user-info > .user-name {
    margin-bottom:  0.525em;
    color: white;
    font-size:1.455em;
}
.user-info > .user-email {
    color: #aaaaaa;
    font-size: 1.0375em;
}


.page-links {
    margin-top: 8.25em;
    margin-bottom: 4em;
    list-style-type: none;
}

.link {
    display: flex;
    justify-content: space-between;
    font-size: 1.2625em;
    padding-top: 0.875em;
    padding-bottom: 0.575em;
    padding-left:10%;
    padding-right: 10%;
    align-items:center;
}

.link a, .link {
    color: #aaaaaa;
    text-decoration: none;
}
.link:hover {
    background-color: #383838;
    transition: background-color 0.3s ease-out;
}
.selected, .selected:hover {
    background-color: #1a1919;
}

.page-links .selected a{
    color:white;
}

.page-links .selected i{
    color:#f06060;
}
    

.link i, .footer-menu i{
    font-size: 1.6125em;
}



.footer-menu {
    text-align: center;
    margin-top: 87px;
}

.footer-menu i{

    color:#aaaaaa;
    margin-left: 10px;
    margin-right: 10px;
}

.footer-menu > i:hover {
    color:  #F6AA1C;
}

.content-page {
    margin-left: 22%;
    width: 78%;
    padding-top: 6em;
}

.logout {
    display: flex;
    justify-content: center;
}
.user-books-intro {
    display: flex;
    color: white;
    font-size: 2em;
}
.number-books {
    font-size: 1.3em;
}