@import url('https://fonts.googleapis.com/css?family=Tajawal');

*,h3 {
     margin: 0;
     font-family: 'Tajawal', sans-serif;
}

a {
     color: #00b7ff;
}

.header {
     background-color: #129490;
     padding-top: 0.5em;
     padding-bottom: 0.5em;
     padding-left:5em;
     padding-right: 5em;
     display: flex;
     justify-content: space-between;  
    position: fixed;
    width: 100%;
    z-index: 5000;
}

.logo-page {
     width: 5em;
     height: 5em;
}

.navigation-bar {
     display: flex;
     align-items: center;

}

.button{
     padding-left: 3em;
}
.info-page {
     display: flex;
     align-items: center;
}
.info-page .title {
     padding-left: 1em;
     font-size: 2em;
     color: #e0e1e2;
}
.main {
     display: flex;
     justify-content: space-between;
}
.information-page {
     width: 50%;
     margin-left: 10em;
     margin-top: 16em;
}
.register-page {
     margin-top: 7em;
     margin-right: 5em;
}
.main-title {
     font-size: 4em;
     margin-bottom: 0.5em;
}
.description {
     font-size: 1.4em;
}
.title-page, .user-options {
   
    margin-left: 20em;
    margin-right: 20em;
}
.title-page {
    margin-top: 8em;
}
.little {
    font-size: 3em;
}
.very-little {
    font-size: 2em;
}
.content-page .very-little {
    margin-top: 1em;
    margin-left: 1em;
}
.author{
    text-align: right;
}

.user-options {
    display: flex;
    margin-top: 5em;
}
.book-option {
    /* padding-left: 3em;
    padding-right: 3em;
    padding-top: 2em;
    padding-bottom: 2em; */
    width: 23em;
    height: 8em;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top-width: 1px;
    border-top-color: #e0e1e2;
    border-top-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: #e0e1e2;
    border-bottom-style: solid;
}
.book-option:last-child {
    border-left-width: 1px;
    border-left-color: #e0e1e2;
    border-left-style: solid;
}

.book-option:hover {
    background-color: #e0e1e2;
}
.image-book {
    width: 11em;
    height: 16em;
}
.title-book {
    font-size: 1.3em;
    margin-bottom: 0;
}
.author-book {
    font-size: 1em;
}
.available-books {
    font-size: 1em;
}
.other-info {
    display: flex;
    justify-content: space-between;
}

.books-page {
    display: flex;
    flex-wrap: wrap;
    margin-top: 2em;
    border-top-style: solid;
    border-top-color: #ececec;
    border-top-width: 1px;
    margin-left: 2em;
    margin-right: 4em;
    padding-top: 2em;
}
.book-article {
    padding-top: 1em;
    padding-bottom: 1em;
    padding-left: 1em;
    padding-right: 1em;

    border-style: solid;
    border-width: 1px;
    border-color: #e0e1e2;
    margin: 1em 1em 1em 1em;
    max-width: 14em;
}

.book-article:hover {
    background-color: #e0e1e2;
}